@model SimpleBlog.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1> @Model.Title </h1>
    <p class="lead"> @Model.UserName</p>
    <p> @Model.PostDate</p>
    
</div>

<br />

<div class ="jumbotron">

    <p class="lead"> @Model.Body </p>

</div>

